<ion-header>
  <ion-navbar color="teal-300">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      새 주소 찾기
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAbout()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar color="teal-300">
    <form (ngSubmit)="searchJuso()">
      <ion-row>
        <ion-item>
          <ion-icon ios="ios-search" md="md-search" item-left></ion-icon>
          <ion-input type="search" onfocus="this.select();" [(ngModel)]="searchTerm" name="term" placeholder="도로명, 건물명, 지번">
          </ion-input>
        </ion-item>
        <button ion-button type="submit" clear color="white">검색</button>
      </ion-row>
    </form>
  </ion-navbar>
  <div padding>
    <ion-segment [(ngModel)]="segment" color="teal-300">
      <ion-segment-button value="search">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content class="login-background">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'search'">
      <div *ngIf="currentStatus==STATUS.EXIST_ITEMS">
        <ion-list>
          <ion-item style="color:#009688;" text-center>
            <ion-icon ios="ios-information-circle" md="md-information-circle" larger item-left></ion-icon>
            {{mainNotification}}
            <ion-badge color="teal-300" item-right>{{searchedAddressInfo}}</ion-badge>
          </ion-item>
          <ion-item-sliding *ngFor="let address of addressList; let i = index">
            <ion-item class="address-list-height">
              <ion-avatar item-left>
                <h1 class="avatar-text" [style.background-color]="getRandomColor(i)" text-center>{{address.roadAddrPart2 | subString:0:2}}</h1>
              </ion-avatar>
              <div (click)="detail(i)">
                <h2>{{address.zipNo}}</h2>
                <h4>{{address.jibunAddr}}</h4>
                <h4>{{address.roadAddrPart1}}</h4>
              </div>
              <ion-row text-right>
                <ion-col color="danger">
                  <button class="address-menu-icon" (click)="bookmark(i)" ion-button icon-right clear color="bg-500" style="height: 22px;">
                <ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon>
              </button>
                  <button class="address-menu-icon" (click)="detail(i)" ion-button icon-right clear color="bg-500" style="height: 22px;">
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
              </button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div *ngIf="currentStatus==STATUS.NOT_EXIST_ITEMS">
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <div>
          <img src="assets/icon/delete-button.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div text-center>
          <h3 color="teal-300">{{mainNotification}}</h3>
        </div>
      </div>
      <div *ngIf="currentStatus==STATUS.FIREST_LOAD">
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <div>
          <img src="assets/icon/magnifying-glass.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div text-center>
          <h3 color="teal-300"><b>새 주소</b>를 검색해주세요</h3>
          <h5 color="teal-300">검색된 주소는 <b>즐겨찾기</b>를<br>통해 관리될 수 있습니다.</h5>
        </div>
      </div>
      <ion-item>
        <ion-label>debug</ion-label>
        <ion-textarea rows="20" [(ngModel)]="debugInfo"></ion-textarea>
      </ion-item>
    </div>
    <div *ngSwitchCase="'bookmark'">
      <ion-list>
        <ion-item style="color:#009688;" text-center>
          <ion-icon ios="ios-bookmark" md="md-bookmark" larger item-left></ion-icon>
          즐겨 찾기
          <ion-badge color="teal-300" item-right>{{bookmarkAddressInfo}}</ion-badge>
        </ion-item>
        <ion-item-sliding *ngFor="let bookmark of bookmarkList; let i = index">
          <ion-item>
            <ion-avatar item-left>
              <h1 class="avatar-text" [style.background-color]="getRandomColor(i)" text-center>{{bookmark.roadAddrPart2 | subString:0:2}}</h1>
            </ion-avatar>
            <div (click)="detail(i)">
              <h2>{{bookmark.zipNo}}</h2>
              <h4>{{bookmark.jibunAddr}}</h4>
              <h4>{{bookmark.roadAddrPart1}}</h4>
            </div>
            <ion-row text-right>
              <ion-col color="danger">
                <button class="address-menu-icon" (click)="trash(i)" ion-button icon-right clear color="bg-500" style="height: 22px;">
                  <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>