page-home {
    .avatar-text {
        padding: 10px 0;
        margin: auto;
        background-color: #EC407A;
        color: #FFFFFF;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}