<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=발급받은 API KEY를 사용하세요"></script>
<ion-header>
    <ion-toolbar color="teal-300">
        <ion-title>
            상세정보
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span showWhen="ios">닫기</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <div #map id="map" style="display: block; height: 200px; margin-left: 4px; margin-right: 4px; margin-top: 4px"></div>
        <ion-card-content>
            <ion-card-title>
                <h1>{{addressInfo.jibunAddr}}</h1>
            </ion-card-title>
            <ion-item>
                <ion-label stacked color="teal-300">우편번호</ion-label>
                <div item-content class="detail-item-content"> {{addressInfo.zipNo}}</div>
            </ion-item>
            <ion-item>
                <ion-label stacked color="teal-300">도로명주소</ion-label>
                <div item-content class="detail-item-content"> {{addressInfo.roadAddrPart1}}</div>
            </ion-item>
            <ion-item>
                <ion-label stacked color="teal-300">영문주소</ion-label>
                <div item-content class="detail-item-content"> {{addressInfo.engAddr}}</div>
            </ion-item>
            <ion-item>
                <ion-label stacked color="teal-300">좌표</ion-label>
                <div item-content class="detail-item-content"> 위도: {{daumInfo['lat']}}</div>
                <div item-content class="detail-item-content"> 경도: {{daumInfo['lng']}}</div>
            </ion-item>
        </ion-card-content>
        <ion-row text-right>
            <ion-col>
                <button ion-button icon-left clear color="bg-500" (click)="clipboard()" style="padding-left: 4px;padding-right: 4px;">
                    <ion-icon ios="ios-copy" md="md-copy"></ion-icon>
                </button>
                <span *ngIf="segment=='search'">
                    <button ion-button icon-left clear color="bg-500" (click)="addBookmark()" style="padding-left: 4px;padding-right: 4px;">
                    <ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon>
                </button>
                </span>
                <span *ngIf="segment=='bookmark'">
                    <button ion-button icon-left clear color="bg-500" (click)="trash()" style="padding-left: 4px;padding-right: 4px;">
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                </button>
                </span>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>